.cover {
  padding: 0;
  color: #fff;
  max-width: 1184px;
}
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}
@media screen and (min-width: 320px) and (max-width: 426px) {
  .cover {
    max-width: 320px;
  }
}
