.cover__position {
  margin: 92px 48px 0;
}
@media screen and (max-width: 1024px) {
  .cover__position {
    margin: 92px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .cover__position {
    margin: 90px 0 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 426px) {
  .cover__position {
    margin: 66px 0 0;
  }
}
